---
layout: default
---

{{ content }}

{% if page.title == "Welcome" %}
  <h2>Recent Blog Posts</h2>
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
    <li>
      <span class="post-meta">{{ post.date | date: "%B %d, %Y" }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a>
      </h3>
      {% if post.excerpt %}
        <p>{{ post.excerpt }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  

{% endif %}
